* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* Regras gerais */
.container {
  max-width: 100rem;
  height: min-content;
}
.botao:link,
.botao:visited,
button {
  color: #102535;
  border-radius: 5rem;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  background-color: #ffd24a;
  border: solid 0.2rem #7d5e00;
  border-bottom: solid 0.4rem #7d5e00;
  border-right: solid 0.4rem #7d5e00;
  font-weight: 700;
  font-size: 1.92rem;
  width: fit-content;
  text-decoration: none;
  font-family: inherit;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.botao:hover,
.botao:active,
button:hover {
  border: solid 0.3rem #7d5e00;
}
.negrito-amarelo {
  color: #eebe2a;
  font-weight: 600;
}

/* Seção "hero" */
.secao-hero {
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 6.1rem 2rem;
  padding-bottom: 0;
  gap: 0;
}
.container-hero {
  display: flex;
  align-items: end;
  max-width: 100rem;
  width: 100%;
  position: relative;
  margin: auto;
  height: fit-content;
}
.informacoes {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  background-color: #f1f1f1;
  min-width: 48rem;
  margin-bottom: 6.1rem;
  border-radius: 2.5rem;
  padding: 3.12rem 2.5rem;
  box-shadow: inset 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.3);
}
.lira-secaohero {
  max-width: 70vw;
  width: 100%;
  position: relative;
  right: 10%;
}

.titulo-informacoes-jornada {
  color: #1c415c;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.65rem;
}
.titulo-informacoes-jornada h1 {
  font-size: 4.78rem;
  text-align: center;
  line-height: 1;
}
.titulo-informacoes-jornada p {
  color: #4b4d4d;
  font-size: 2.76rem;
  font-weight: 700;
}
.informacao {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  line-height: 1.2;
}
.informacao div {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 1rem;
}

.informacao img {
  height: 1.8rem;
}

.informacao p {
  font-size: 1.92rem;
}
.informacao p span {
  font-weight: 600;
}
.online-gratuito {
  font-size: 2.76rem;
  font-weight: 700;
}

.simbolo-hashtag {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  padding: 1.1rem;
  background-color: #f1f1f1;
  box-shadow: inset 0 0 0.8rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  z-index: 10000;
}
.simbolo-hashtag img {
  width: 100%;
  height: 100%;
  display: block;
}

/* Seção "proteção de dados" */
.secao-protecao-dados {
  font-size: 1.33rem;
  background-color: #e1e1e1;
  box-shadow: 0 0.5rem 1rem -0.2rem rgba(0, 0, 0, 0.15);
  padding: 3.12rem 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.secao-protecao-dados p {
  line-height: 1.5;
}

/* "Seção passo a passo" */
.secao-passo-a-passo {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 6.1rem 2rem;
}
.passos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  row-gap: 6rem;
}
.passos-imglira {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  align-self: center;
}

.passo-n {
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  gap: 1rem;
  height: auto;
}
.passo-4 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.passo-n-titulo {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  align-items: center;
}
.passo-n-titulo img {
  background-color: #256783;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 1rem;
  padding: 0.7rem;
}
.passo-n-titulo p {
  font-size: 2.76rem;
  color: #256783;
  font-weight: 700;
}
.passon-p {
  font-size: 1.6rem;
  height: min-content;
}
.container-secao-passo-a-passo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 5rem;
}
.titulo-passo-a-passo,
.titulo-evento-gratuito {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.titulo-passo-a-passo h2,
.titulo-evento-gratuito h2 {
  font-size: 4.78rem;
  font-weight: 300;
}
.titulo-passo-a-passo span,
.titulo-evento-gratuito span {
  font-weight: 600;
  color: #256783;
  line-height: 1;
}
.titulo-passo-a-passo img,
.titulo-evento-gratuito img {
  width: 4.1rem;
}
span {
  font-weight: 700;
}

/* Seção "evento gratuito */
.secao-evento-gratuito {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 0;
}
.container-evento-gratuito {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  gap: 5rem;
}

.videos-evento-gratuito {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.videos-evento-gratuito img {
  border-radius: 2rem;
  max-width: 100%;
}
.videos-evento-gratuito div:hover {
  scale: 1.1;
  transition: scale ease 200ms;
}
.titulo-evento-gratuito {
  display: flex;
  flex-flow: row nowrap;
  max-width: 80%;
  line-height: 1;
  align-self: start;
}
.titulo-evento-gratuito img {
  transform: rotate(90deg);
}
/* Seção "organizando */
.secao-lira {
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/62cefb1ecf7f4662905b5b1e_%5BBACKGROUND%5D%20-%20BANNER%2005%20-%20desktop.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: fit-content;
  padding: 6.1rem 2rem;
  padding-top: 21rem;
  padding-bottom: 0;
}
.secao-lira p {
  color: #ffffff;
  font-size: 1.6rem;
  display: block;
}

.container-lira {
  display: flex;
  align-items: center;
  max-width: 100rem;
  width: 100%;
}
.textos-lira {
  display: flex;
  flex-flow: column nowrap;
  height: fit-content;
  line-height: 1.2;
  min-width: 400px;
  row-gap: 3.12rem;
}
.texto-lira {
  display: flex;
  flex-flow: column wrap;
  row-gap: 1.6rem;
  height: fit-content;
}
.linha-vertical {
  width: 0.6rem;
  height: 5rem;
  background-color: #eebe2a;
}
.titulo-lira {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2rem;
}
.titulo-lira p {
  font-size: 2.3rem;
  font-weight: 700;
}

.lira-secaolira {
  max-width: 500px;
  min-width: 390px;
}
/* Rodapé */
footer {
  display: flex;
  justify-content: center;
}
.container-footer {
  display: flex;
  justify-content: end;
  gap: 0.8rem;
  align-items: center;
  width: 100rem;
  padding: 4.88rem 2rem;
}

.container-footer p {
  font-size: 1.6rem;
}
.container-footer a:link,
.container-footer a:visited,
.container-footer a:hover,
.container-footer a:active {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
}
.container-footer img {
  width: 3.7rem;
  height: 3.7rem;
}
/* Pop-up */
.formulario {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(0, 0%, 100%, 0.92);
  backdrop-filter: blur(0.3rem);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.formulario form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 0.82rem;
  width: 50rem;
  background-size: 100%;
  padding: 3.12rem;
  border-radius: 2.5rem;
  background-color: #fff;
  box-shadow: inset 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.15);
  height: fit-content;
  position: relative;
  margin: 0 2rem;
}
.formulario input {
  padding: 0.82rem 1.28rem;
  border-radius: 5rem;
  border: solid 0.2rem #eebe2a;
  font-size: 1.6rem;
  width: 100%;
}
.formulario button {
  margin-top: 1rem;
  width: 100%;
}
.formulario p {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #eebe2a;
  border-radius: 50%;
  font-size: 1.92rem;
  font-weight: 700;
  border: solid 0.2rem #765b09;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -webkit-moz-appearance: textfield;
}
/* Responsividade */

@media all and (max-width: 770px) {
  html {
    font-size: 56.25%;
  }
  /* Seção hero */
  .informacoes {
    position: relative;
    min-width: 38.5rem;
    max-width: 48rem;
    width: 100%;
  }
  .container-hero {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
  }
  .lira-secaohero {
    transform: none;
    max-width: 50rem;
    height: 100%;
    left: 0;
  }
  /* Seção passo a passo */
  .secao-passo-a-passo {
    height: fit-content;
    padding-bottom: 0;
  }
  .passos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .titulo-passo-a-passo h2 {
    font-size: 3.98rem;
  }
  .passos-imglira {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    justify-self: center;
    max-width: 27.5rem;
  }
  .passo-3 {
    grid-column: 1;
  }
  .passo-4 {
    grid-column: 2;
  }

  /* Seção evento gratuito */
  .secao-evento-gratuito {
    padding: 6.1rem 2rem;
    padding-bottom: 0;
  }
  .titulo-evento-gratuito {
    width: inherit;
  }
  .titulo-evento-gratuito h2 {
    font-size: 3.98rem;
    font-weight: 400;
    align-self: stretch;
  }

  /* Seção lira */
  .secao-lira {
    background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/62cefd163d834a0c0b773480_%5BBACKGROUND%5D%20-%20BANNER%2005%20-%20mobile.webp);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 14rem;
  }

  .container-lira {
    flex-flow: column;
    row-gap: 2rem;
  }
  .textos-lira {
    max-width: 424px;
    min-width: min-content;
    padding: 0;
  }
  .lira-secaolira {
    max-width: 320px;
    min-width: 320px;
  }
  /* Footer */
  .container-footer {
    justify-content: center;
  }
}
@media all and (max-width: 630px) {
  .lira-secaohero {
    left: 0;
    max-width: 40rem;
    height: 100%;
  }
  .videos-evento-gratuito {
    gap: 2rem;
  }
  .container-footer {
    justify-content: center;
  }
}
@media all and (max-width: 480px) {
  html {
    font-size: 50%;
  }
  /* Seção hero */
  .container-hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .lira-secaohero {
    max-width: 35rem;
    height: 100%;
    left: 0;
  }
  /* Seção passo a passo */
  .passos {
    display: flex;
    flex-flow: column;
    row-gap: 3rem;
  }

  .passo-4 {
    grid-column-start: initial;
    grid-row-start: 4;
  }
  .titulo-passo-a-passo {
    flex-flow: row nowrap;
  }
  .titulo-passo-a-passo h2 {
    font-size: 3.32rem;
  }
  .titulo-passo-a-passo img {
    width: 3rem;
  }
  /* Seção evento gratuito */
  .secao-evento-gratuito {
    padding: 3.9rem 2rem;
  }
  .videos-evento-gratuito {
    display: flex;
    flex-flow: column;
  }
  .titulo-evento-gratuito {
    max-width: 100%;
  }
  .titulo-evento-gratuito img {
    width: 3rem;
  }
  .titulo-evento-gratuito h2 {
    font-size: 3.32rem;
  }
  /* Seção evento gratuito */
  .titulo-evento-gratuito h2 {
    font-size: 2.76rem;
  }
  /* Seção lira */
  .secao-lira {
    padding-top: 12rem;
  }
  /* Footer */
  .container-footer {
    flex-flow: column;
    justify-content: center;
  }
  .container-footer p {
    display: none;
  }
  .container-footer img {
    width: 5rem;
    height: 5rem;
  }
}
